.header-wrapper {
    background-image: url(../../images/bg-preview-desktop.jpg);
    height: 100vh;
    width: 100vw;
    
    color:white;
    background-size: cover;
}

.header-menu-wrapper{
    
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: transparentize($color_primary,0.7);
    
}

.header-menu-inner-wrapper{
    align-items: center;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    width: 1440px;

}

.header-menu-logo-wrapper{
    grid-column-start: 1;
    grid-column-end: 4;

    display: flex;

    .header-menu-name{
        margin-left:15px;
        font-weight: 600;
        font-size: 32px;
    }
}



.header-nav-wrapper{

    grid-column-start: 5;
    grid-column-end: 10;

    display:flex;
    justify-content: center;


    .header-nav{
        display: flex;
        justify-content: center;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        .header-nav-list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            padding: 0 0;
            grid-gap:42px;


            .header-nav-link{
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
            
        }    
    
    }

}






.header-menu-button-wrapper{
    grid-column-start: 10;
    grid-column-end: 13;
    display: flex;
    justify-content: flex-end;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:white;


    .header-menu-button{
       
        padding: 10px 30px;
        border-radius: 10px;
        background-color: $color_secondary;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
        color: white;
        cursor: pointer;
        border: 0;
        font-family: Red Hat Text, sans-serif;
    }
}
