.l-screen__wrapper {
  background-image: url(../../assets/images/bg-preview-desktop.jpg);
  height: 100vh;
  width: 100vw;

  color:white;
  background-size: cover;
}

.l-menu__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparentize($color_primary,0.7);
  
}

.l-menu__inner-wrapper{
  align-items: center;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  width: 1440px;

  .c-button__wrapper{
	grid-column-start: 12;
	grid-column-end: 13;
	display: flex;
	justify-content: flex-end;
	
	

	.c-button{
		width: 100px;
		height: 40px;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: $color_secondary;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
		cursor: pointer;
		border: 0;

		font-family: $fontFamily_secondary;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color:white;

		&:hover{
			background-color: $color_primary;
			transition: 0.125s linear;
		}
	  }
  }

}

.l-logo__wrapper{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
    
  .c-menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .c-menu__title{
    margin-left:15px;
    font-weight: 600;
    font-size: 32px;
    font-family: $fontFamily_logo;
    color: #FFFFFF;
        
    }
}

.l-nav__wrapper{
  grid-column-start: 5;
  grid-column-end: 10;
  display:flex;
  justify-content: center;

  .c-nav{
    display: flex;
    justify-content: center;
    font-family: $fontFamily_secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;   
  }
}

.c-nav__list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	padding: 0 0;
	grid-gap:42px;

	.c-nav__link{
	  text-decoration: none;
	  color: white;
	  cursor: pointer;
	}		  
  } 

.l-preview{
  display: flex;
  justify-content: center;
    
  .l-preview__wrapper{
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr;
        
    
  }
}

.c-preview__content{
	grid-area: 1/ 1 /2 /9;

	.c-title{
	  font-family: $fontFamily_primary;
	  font-style: normal;
	  font-weight: 700;
	  font-size: 80px;
	  line-height: 96px;
	  color:white;

	  margin-top: 32px;
	  margin-bottom: 56px;
	}
	.c-text{
	  font-family: $fontFamily_primary;
	  font-style: italic;
	  font-weight: 700;
	  font-size: 20px;
	  line-height: 24px;
	  color: #FFFFFF;
	  margin-bottom: 44px;
	}
  }   

.c-start{
	display:flex;
	flex-direction: row;      
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16px;
	padding: 18px 18px 18px 41px;

	.c-text{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-family: $fontFamily_primary;
	  font-style: italic;
	  font-weight: 400;
	  font-size: 24px;
	  line-height: 29px;

	  color:$color_primary;
				
	} 
}