@media screen and (max-width: $breakpoint_mobile) {

    .l-steps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .c-steps__title{
            display: flex;
            font-family: $fontFamily_secondary;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: $color_primary;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: center;
        }
    }
    .c-steps__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    
        .c-steps__card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 15px;
            }
        }
    
    .l-img__wrapper{
        background: $color_primary;
        border-radius: 16px;
        width: 70px;
        height: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 0;

        margin-left: 20px;
        margin-right: 20px;

        .c-steps__img{
            width:50%; /* you can use % */
            height: auto;
        }

        }
    
    .c-card__title{
        font-family: $fontFamily_primary;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;   
        color: $color_secondary;

        
        
    }

    .l-card__first{
        margin-left: 20px; 
        text-align: left;     
    }

    .l-card__second{
        
        text-align: center;     
    }

    .l-card__third{
        margin-right: 20px; 
        text-align: right;     
    }
       
    
    
    
    .l-destinations{
        margin-top:20px;
        .l-destinations__wrapper{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .c-destinations__title{
            font-family: $fontFamily_secondary;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;       
            color: $color_primary;         
            margin-bottom: 20px;
           
            
        }
        }
        
            
           
               
        }
    
    .c-destinations__gallery{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 0;
        
        .c-gallery__cell {
            width: 90vw;
            height: 210px;
            border-radius: 16px;
            display: flex;              
            align-items: flex-start;
                        
            &:nth-child(1){
                background: url(../../assets/images/destinations-1-mobile.jpg) #FFF;              
            }
            &:nth-child(2){
                background: url(../../assets/images/destinations-2-mobile.jpg) #FFF;
                display: none;
            }
            &:nth-child(3){
                background: url(../../assets/images/destinations-3-mobile.jpg) #FFF;
                display: none;
            }
        
            .c-title{
                font-family: $fontFamily_primary;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #FFFFFF;
                margin-top: 8px;
                margin-left:15px;
                text-transform: uppercase;
            }
        }
    }
    
    .l-destinations__nav{
        width: 50px;
       display: flex;
       flex-direction: row;
       margin-top: 0;
       margin-bottom: 12px;
       justify-content: center;
       align-items: center;
       column-gap: 5px;
    
       .c-destinations__dot{
        display: block;
        
        width: 10px;
        height: 10px;
        padding: 0;
        background-color: rgba(242, 120, 92, 0.5);;
        border-radius: 5px;
        cursor: pointer;
       }
    }
    
    
    .l-stories{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .c-stories__title{
            font-family: $fontFamily_secondary;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: $color_primary;
            margin-bottom: 10px;
        }
    
        .l-stories__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            background-size: cover;
            background-image: url(../../assets/images/bg-stories-mobile.jpg);
        }      
    }
    
    .l-wrapper__background{
        background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: screen;
    width: 100vw;
    padding-bottom: 20px;
    }
    
    .l-wrapper__content{
       
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            
        .c-stories__content{
            width: 90vw;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 15px;        
        }
    }
    
    .l-content__cell{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    
        .l-content__wrapper{
            display: flex;
            flex-direction: column;
            row-gap: 0px;
            color:$color_secondary;
            font-family: $fontFamily_primary;     
        }
    }
    
    .c-cell__img{
        filter: drop-shadow(0px 4px 4px $color_secondary);
        border-radius: 16px;
        width: 155px;
        height: 130px;
        background-size: cover;
    }
    
    .c-cell__title{
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    
    .c-cell__text{
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        margin: 0px 0px;
    
    }
    
    .c-cell__link{
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        padding: 0px 0px;
        margin: 0px 0px;
        color: $color_secondary;
    
    }
    
    
    






 }