$color_primary: #F2785C;
$color_secondary: #0D606F;
$color_background: white;
$color_background_stories: #F8F8F8;

$fontFamily_primary: 'Aleo', serif;
$fontFamily_secondary: 'Red Hat Text', sans-serif;
$fontFamily_logo: 'Magra', sans-serif;

